.box-title {
  padding: 1em;
}

.box-input {
  padding: 1em;
  display: flex;
  flex-flow: column;
  .input-group {
    input:nth-child(1) {
      border-right: 0;
      right: 0;
      margin-right: 0;
    }
    input:nth-child(2) {
      border-left: 0;
      left: 0;
      margin-left: -37px;
      width: 131px;
      border-radius: 0 4px 4px 0;
    }
  }
  label {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 10px;
    font-weight: 700;
    margin-bottom: 0.5em;
    color: #b6b6b9;
    margin-bottom: 1em;
    span.box-close {
      display: flex;
      justify-content: flex-end;
    }
  }
  input {
    box-shadow: 1px 2px 9px -8px rgba(0, 0, 0, 0.75);
    border: 1px solid #b6b6b9;
    border-radius: 4px;
    height: 30px;
    max-width: 300px;
    padding: 0 1em;
    &::placeholder {
      color: #b6b6b9;
      margin-left: 1em;
    }
  }
  textarea#notes {
    border: 0;
    border-radius: 4px;
    border: 1px solid #39478229;
    box-shadow: -4px 4px 6px -6px rgba(0, 0, 0, 0.75);
    &::placeholder {
      color: #b6b6b9;
      padding: 1em;
    }
  }
}

.error {
  margin-top: 0.5em;
  color: red;
}

.container-modal {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: #70707394;
  z-index: 999;
  .col {
    padding: 5em;
    .box {
      margin: 10em auto 0;
      height: 250px;
      width: 600px;
    }
    .box-button {
      display: flex;
      justify-content: flex-end;
      padding: 0 1em;
      input[type="button"] {
        border: 0;
        border-radius: 4px;
        background-color: #394782;
        color: white;
        padding: 0 1em;
        width: 100px;
        height: 30px;
        font-weight: bold;
      }
    }
    .box-input {
      margin-top: 2em;
      textarea#notes {
        border: 0;
        border-radius: 4px;
        border: 1px solid #39478229;
        box-shadow: -4px 4px 6px -6px rgba(0, 0, 0, 0.75);
      }
    }
  }
}
