* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

body {
  background-color: #e7eaf3;
  font-size: 12px;
}

ul {
  list-style: none;
}

.main-wrapper {
  width: 70%;
  margin: 0 auto;
}

.wrapper {
  display: flex;
  margin: 0 10em;
  min-height: 434px;

  menu {
    width: 30%;
    margin-right: 2em;
  }

  .dashboard {
    width: 100%;
  }
}
