* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

body {
  background-color: #e7eaf3;
  font-size: 12px;
}

ul {
  list-style: none;
}

.main-wrapper {
  width: 70%;
  margin: 0 auto;
}

.wrapper {
  display: flex;
  margin: 0 10em;

  menu {
    width: 30%;
    margin-right: 2em;
  }

  .dashboard {
    width: 100%;
  }
}

.breadcrumb {
  font-size: 12px;
  text-transform: uppercase;
  padding: 1.5em 0;
  color: #858899;
  margin: 0 10em;
  ul {
    display: flex;

    li {
      margin: 0 0.5em;
    }
  }
}

.info-company {
  display: flex;
  align-items: center;
  color: #44454a;
  h1 {
    font-size: 25px;
  }
}

.desc-company {
  margin: 2em 0;
  color: #44454a;
}

.logo-company {
  width: 50px;
  height: 50px;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.2);
  margin-right: 1em;
}

.container {
  display: flex;
  .col {
    flex: 1;
    margin-right: 1em;
    &:last-child {
      margin: 0;
    }
  }
}

.box {
  background: #fff;
  border-radius: 4px;
  color: #848796;
  margin-bottom: 1.5em;
  .title-box {
    font-weight: bold;
    border-bottom: 1px solid #e2e2e2;
    padding: 0.5em 1em;
    color: #525562;
    text-transform: uppercase;
  }
  ul {
    li {
      &:last-child {
        .content-box {
          border: 0;
        }
      }
    }
  }
}
.content-box {
  display: flex;
  padding: 1em;
  border-bottom: 1px solid #e2e2e2;
}
